<html>

<head>
  <title>Главная</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Главная</h1>
  {{> menu}}

  <h3>Это сайт оценивания работ</h3>
  <p>Лабораторная работа №2 по предмету 'Технология сети интернет'. Вариант 2. Выполнено Гавриловым Никитой 381808-1</p>

</body>

</html>
