<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Оценивание</title>
</head>
<body>
    <h1>Оценивание</h1>
    {{> menu}}

    <h3>{{filename}}</h3><br/>

    <iframe src="/files/{{filename}}" width="700" height="500" align="left">
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>


    <form method="post" enctype="multipart/form-data">

        Оценка: <input type="range" id="raterange" name="rate" min="1" max="5" value="5"
                       onchange="updateRateLabel()" oninput="updateRateLabel()">
        <label id = "ratelabel">5</label><br/>
        Комментарий: <input type="text" name="comment"><br/>

        <input type="submit" value="Оценить"><br/>
    </form>

    {{#if ratesVisible}}
        <h3>Оценки:</h3>
        <ul>
            {{#each rates}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{else}}
        <h3>Работа не оценена ни разу</h3>
    {{/if}}


    <script type="text/javascript">
        function updateRateLabel(){
            value = document.getElementById("raterange").value;
            alert(value);
            document.getElementById("ratelabel").innerHTML = value;
        }
    </script>

</body>
</html>